html{
    margin:0;
    padding:0;
    overflow: hidden;
}
body{
    position: absolute;
    width:100%;
    height:100%;
    overflow: auto;
}

.draggable {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: red;
}

button {
    width: 100px;
    height: 80px;
}

.draggable:hover {
    cursor:-webkit-grab;
}

.draggable:active {
    cursor:-webkit-grabbing;
}