.visualState {
    width: 200px;
    height: 400px;
    background-color:white;
    border: 1px solid #333333;
    float:left;
    margin: 8px;
    position: relative;
}

.outputArea {
    height: 420px;
    background-color: #eeeeee;
    display: block;
    width: 100%;
}

#toolbar{
	display: block;
	padding-top: 5px;
    padding-bottom: 5px;

}

.is-active{
    background-color: #fafafa;
}

#title{
	font-family: futura;
	font-weight: 800;
}

.is-alone{
    margin-right: 10px;
    margin-left: 10px;
}

#color-picker{

}