.visualStateCanvas {
    width: 375px;
    min-width: 375px; /*We are using flexbox so we shouldn't shrink below this width size*/
    height: 667px;
    background-color:white;
    border: 1px solid #333333;
    float:left;
    margin: 8px;
    position: relative;
}

.visualStateContainer {
    display: flex; /*This will make the diff container change the width (maybe this is not desired)*/
}

.diffContainer{
    width: 110px;
    display: flex; /*This is to align the diff button and the diff box*/
    flex-direction: column; /*To have the child vertically align*/
}

.visualStateDiff { /*MAybe we need to rename this as diffButton or shomething*/
     margin-top: 35px;
}

.diffBox {
    margin-top: 3px;
    /*I need to remove white space
    to keep the text inside*/
    white-space: normal;
}

.outputArea {
    height: 700px;
    background-color: #eeeeee;
    display: flex; /*This doesn't work with block*/
    width: 100%;
    /*I need to put the white space
    in order to get the scrolling to work*/
    overflow-x : scroll;
    white-space: nowrap;
}

.shapeHandler {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position:absolute;
}

#toolbar{
	display: block;
	padding-top: 5px;
    padding-bottom: 5px;

}

.is-active{
    background-color: #fafafa;
}

#title{
	font-family: futura;
	font-weight: 800;
}

.is-alone{
    margin-right: 10px;
    margin-left: 10px;
}

#color-picker{

}

.fa-rotate-45 {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.fa-rotate-135 {
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

.inputTimeline {
    width: 100%;
    height: 40px;
    background-color: #CCC;
    position:relative;
    margin: 0px 5px; //0px top bottom and 5px left right
    border-radius: 3px;
}

.mark {
    width: 40px;
    height: 40px;
    position: absolute;
    text-align: center;
}

#timelineArea {
    display: flex;
    justify-content:center;
    padding: 8px;
}

#myCanvas {
    display: block;
    margin: 0 auto; /*centered */
}