<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Enact</title>
</head>

<body>
    <div id="toolbar">
        <div class="block">
            <div class="control is-grouped">
                <a class="button is-primary is-alone" id="title">ENACT</a>
                <p class="control has-addons">
                    <a class="button" :class="{'is-active':selectionMode}" v-on:click="selectionSelected"><span class="icon is-small"><i class="fa fa-mouse-pointer"></i></span></a>
                    <a class="button" :class="{'is-active':drawMode}" v-on:click="drawSelected"><span class="icon is-small"><i class="fa fa-pencil-square-o"></i></span></a>
                </p>
                <a class="button"><span class="icon is-small"><i class="fa fa-arrows-h"></i></span></a>
                <input type="color" @change="changeColor()" id="color-picker" class="button" id="color-picker" v-model="currentColor">
                <a class="button is-alone" v-on:click="addVisualState"><span class="icon is-small"><i class="fa fa-plus-square-o"></i></span></a>
            </div>
        </div>
    </div>
    <div id="outputArea" class="outputArea" v-bind:style='{cursor: cursorType}'></div>
    <div id="timelineArea">
        <div class="inputTimeline">
            <visual-state-mark v-for="vs in visualStates" :initial-visual-state="vs">{{"VS"+visualStates.indexOf(vs)}}</visual-state-mark>
        </div>
        <a class="button is-primary is-medium" v-on:click="startPlaying"><span class="icon is-small"><i class="fa fa-play"></i></span></a>
    </div>
    <canvas id="myCanvas" width="375" height="667"></canvas>
</body>

</html>
