.visualStateCanvas {
    width: 375px;
    height: 667px;
    background-color:white;
    border: 1px solid #333333;
    float:left;
    margin: 8px;
    position: relative;
}

.visualStateContainer {
display: inline-block;
}

.visualStateDiff {

}

.outputArea {
    height: 700px;
    background-color:red;
        background-color: #eeeeee;
    display: block;
    width: 100%;
}

.shapeHandler {
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border: 1px solid #000000;
    position:absolute;
}

#toolbar{
	display: block;
	padding-top: 5px;
    padding-bottom: 5px;

}

.is-active{
    background-color: #fafafa;
}

#title{
	font-family: futura;
	font-weight: 800;
}

.is-alone{
    margin-right: 10px;
    margin-left: 10px;
}

#color-picker{

}